{% extends 'Veterinaria/__base.html' %}


{% block title %}
    Lista de Dueños
{% endblock %}


{% block maincontent %}
    {% if lista_de_duegnos %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Número de mascotas</th>
                </tr>
              </thead>
              <tbody>
                  {% for d in lista_de_duegnos %}
                      <tr>
                          <td>{{ d.nombre_duegno }}</td>
                          <td><a href="{% url 'duegno_detail' d.id_duegno %}">{{ d.n_mascotas }} mascotas registradas</a></td>
                      </tr>
                {% endfor %}
              </tbody>
            </table>
    {% else %}
            No hay objetos registrados xC
    {% endif %}


{% endblock %}


