{% extends 'Veterinaria/__base.html' %}


{% block title %}
    Lista de Mascotas
{% endblock %}

{% block maincontent %}
    {% if mascota_list %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre Mascota</th>
                </tr>
              </thead>
              <tbody>
                  {% for pet in mascota_list %}
                      <tr>
                          <td><a href="{{pet.id}}">{{ pet.name }}</a></td>
                          <td>{{ pet.duegno }} ({{ pet.duegno.age }})</td>
                      </tr>
                {% endfor %}
              </tbody>
            </table>
    {% else %}
            No hay objetos registrados xC
    {% endif %}


{% endblock %}


